@font-face {
	font-family: NESFont;
	src: url("assets/sprites/nes.ttf");
}
body {
	background-color: black;
	font-family: NESFont;
	color: white;
}


#game-area {
	display: flex;
	justify-content: center;
	gap: 50px;
}

.pieces {
	width: 60px;
	image-rendering: pixelated;
}

#ranking {
	justify-content: center;
}

tr {
	height: 100px;
}

ul {
	list-style: none;
	line-height: 50px;
	
}
button {
	font-family: NESFont;
	cursor: pointer;
	font-size: larger;
	height: 40px;
}

ul img {
	width: 50px;
	image-rendering: pixelated;
	vertical-align: middle;
}